.skill-box {
  text-align: center;
  padding: 1.5em 0;
  h5 {
    margin-bottom: 0.7em;
  }
  .MuiChip-root {
    margin: 0.5em;
    // &.essential {
    // }
    &.technical {
      background-color: #c5cae9 !important;
    }
    &.framework {
      background-color: #90caf9 !important;
    }
    &.library {
      background-color: #cddc39 !important;
    }
    &.database {
      background-color: #ffeb3b !important;
    }
    &.cms {
      background-color: #ffb74d !important;
    }
    &.os {
      background-color: #e57373 !important;
    }
    &.tools {
      background-color: #e1bee7 !important;
    }
    &.design {
      background-color: #ce93d8 !important;
    }
  }
}
