.contact-section {
  margin-top: 2em;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0e1025),
    to(#373447)
  );
  background-image: linear-gradient(0deg, #0e1025 0, #373447);
  color: #ffffff;
  h3 {
    margin-bottom: 1.8em;
  }
  .contact-links {
    .MuiGrid-item {
      text-align: center;
      a {
        text-decoration: none;
        color: #ffffff;
        button {
          background: #ffffff;
          margin-bottom: 1em;
          svg {
            color: #373447;
            font-size: 1.8em;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1201px) {
  .contact-section {
    height: 50vh;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .contact-section {
    height: 70vh;
    display: flex;
    align-items: center;
    h3 {
      font-size: 2.2em;
      margin-bottom: 1em;
    }
  }
}
@media (max-device-width: 1280px) and (orientation: landscape) {
  .contact-section {
    height: 50vh;
    display: flex;
    align-items: center;
  }
}
@media (max-device-width: 800px) and (orientation: portrait) {
  .contact-section {
    height: 50vh;
    display: flex;
    align-items: center;
    h3 {
      font-size: 2em;
      margin-bottom: 1em;
    }
    .MuiGrid-item {
      margin-bottom: 2em;
    }
  }
}
