:root {
  --dark: #101010;
  --grey: #252525;
  --primary: #ff2c54;
  --light: #ffffff;
  --muted: #b7b7b7;
  --f-regular: 400;
  --f-bold: 700;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Monserrat", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  width: 100%;

  &.no-scroll {
    overflow: hidden;
  }
}
a {
  color: var(--light);
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  &:focus,
  &:active {
    outline: none;
  }
  &hover {
    cursor: pointer;
  }
}

.social-icons {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 10px;
    }
    .social-icons li:last-child {
      margin-right: 0;
    }
  }
  a {
    font-size: 1.5rem;
    transition: all 0.3s ease;
    &:hover {
      color: var(--primary);
    }
  }
}

header {
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3 ease;
  &.scrolled {
    background-color: var(--dark);
    border-bottom: 3px solid var(--primary);
    padding: 10px;
  }
  a {
    text-transform: uppercase;
    font-weight: var(--f-bold);
    font-size: 1.125rem;
    transition: all 0.3 ease;
    &:hover {
      color: var(--primary);
    }
    &.active {
      color: var(--primary);
    }
  }
  .mobile-nav {
    position: relative;
    .hamburger {
      background: transparent;
      border: none;
      color: var(--light);
      font-size: 2rem;
    }
    &-links {
      display: none;
      background-color: var(--grey);
      list-style: none;
      padding: 20px;
      margin: 0;
      position: absolute;
      right: 0;
      top: 45px;
      .nav-link {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .nav {
    &-links {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &-link {
      display: inline-block;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.primary-button {
  font-weight: var(--f-bold);
  text-transform: uppercase;
  color: var(--light);
  background: var(--primary);
  border-radius: 999px;
  padding: 15px 20px;
  border: 1px solid var(--primary);
  text-align: center;
  transition: all 0.3s ease;
  &:hover {
    background-color: transparent;
    color: var(--primary);
  }
}

@media (min-width: 660px) {
  header .mobile-nav {
    display: none;
  }
  header .nav-links {
    display: block;
  }
  header.scrolled {
    padding: 20px;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .inner-text {
  text-align: center;
}
.hero .inner-text h1 {
  font-size: 2.5rem;
}
.hero .inner-text h2 {
  font-size: 1.5rem;
  font-weight: var(--f-regular);
}

.hero .social-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px;
}
@media (min-width: 768px) {
  .hero .inner-text h1 {
    font-size: 5rem;
  }
  .hero .inner-text h2 {
    font-size: 2rem;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-header {
  margin-bottom: 50px;
}
.section-header .heading {
  font-size: 2.5rem;
}
.section-header .subheading {
  font-size: 1rem;
  color: var(--primary);
  font-weight: var(--f-regular);
}
@media (min-width: 568px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .section-header .heading {
    font-size: 3rem;
  }
  .section-header .subheading {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
#about {
  padding: 100px 0;
  .section-header {
    text-align: center;
  }
}
.about-content {
  margin-bottom: 30px;
}
.about-content .image-wrapper {
  text-align: center;
  img {
    height: 250px;
    width: 250px;
    border-radius: 999px;
    object-fit: cover;
  }
}
.about-content .text-content .content-heading {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
}
@media (min-width: 568px) {
  .about-content .text-content .content-heading {
    text-align: left;
  }
}
.about-content .text-content p {
  margin-bottom: 16px;
  color: var(--muted);
  line-height: 1.5em;
}
.about-content .text-content hr {
  margin: 30px 0;
  border: 1px solid var(--primary);
}
.about-content .primary-button {
  display: block;
  margin-bottom: 20px;
}
.about-content .text-content-footer .social-icons {
  text-align: center;
}
@media (min-width: 568px) {
  .about-content .text-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-content .primary-button {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  #about {
    padding: 170px 0;
  }
}
@media (min-width: 992px) {
  .about-content {
    display: flex;
    align-items: center;
  }
  .about-content .text-content {
    position: relative;
    width: 100%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  .about-content .image-wrapper {
    position: relative;
    width: 100%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 70px;
  }
  .about-content .image-wrapper img {
    border-radius: 0;
    width: 100%;
    height: auto;
  }
  .about-content .image-wrapper .content-heading {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

#portfolio {
  .nav-section {
    padding: 100px 0;
    .section-header {
      text-align: center;
    }
    & .container {
      padding: 0;
    }
    @media (min-width: 568px) {
      & .container {
        max-width: 540px;
      }
    }
    @media (min-width: 768px) {
      & .container {
        max-width: 720px;
      }
    }
    @media (min-width: 992px) {
      & .container {
        max-width: 960px;
      }
    }
    @media (min-width: 1200px) {
      & .container {
        max-width: 1170px;
      }
    }
    // @media (max-width: 568px) {
    //   }
    // }
  }
}
.portfolio {
  &-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  &-item {
    padding: 10px;
    .image-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title-wrapper {
      //   padding: 10px 0;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      h2 {
        font-size: 1.3em;
      }
    }
    .link-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: grid;
      grid-gap: 10px;
      &.one {
        grid-template-columns: repeat(1, 1fr);
      }
      &.two {
        grid-template-columns: repeat(2, 1fr);
      }
      a {
        background: var(--primary);
        width: 100%;
        text-align: center;
        padding: 10px;
      }
    }
    .desc-wrapper {
      margin-bottom: 1em;
    }
    .stack-wrapper {
      display: block;
      height: 4.2em;
      padding-bottom: 10px;
      .stack {
        border: 1px solid var(--light);
        padding: 5px;
        margin: 2px;
        display: inline-flex;
        font-size: 0.8em;

        i {
          margin-top: 2px;
          margin-right: 5px;
        }
      }
    }
  }
  &-modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    .close-button {
      position: absolute;
      right: 0;
      font-size: 2em;
      background-color: transparent;
      color: var(--light);
      padding: 10px 15px;
    }
    .image-wrapper {
      position: relative;
      height: calc(100vh - 100px);
      width: calc(100% - 100px);
      left: 50px;
      top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 568px) {
  .portfolio {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 768px) {
  #portfolio {
    padding: 150px 0s;
  }
}
@media (min-width: 992px) {
  .portfolio {
    &-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// lol
.slick-slider {
  width: 100%;
  .slick-slide {
    img {
      display: inline !important;
    }
  }
}
@media screen and (device-width: 480px) and (device-height: 640px) {
  .slick-slide {
    margin: 0 10px;
    background: #000000;
    margin: 0;
    background: transparent;
  }
}
#skills {
  padding: 100px 0;
  .heading {
    text-align: center;
  }
}
.skill {
  &-content {
    text-align: center;
    display: block;
    margin: 60px 0;
    h4 {
      color: var(--primary);
      margin-bottom: 10px;
      font-size: 1.5em;
    }
    .stack {
      padding: 8px;
      color: var(--light);
      background: var(--primary);
      margin: 6px 4px;
      border-radius: 50px;
      font-weight: var(--f-regular);
      display: inline-block;
    }
  }
}
#experience {
  padding: 100px 0;
  .heading {
    text-align: center;
  }

  @media (max-width: 568px) {
    .container {
      padding: 0;
    }
  }
}
.work {
  &-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    display: grid;
    @media (max-width: 568px) {
      display: none;
    }
  }
  &-slider {
    display: none;
    @media (max-width: 568px) {
      display: block;
      float: left;
      width: 100%;
    }
  }
  &-item {
    padding: 10px;
    display: flex;
    // border-right: 1px solid var(--primary);

    @media (max-width: 568px) {
      & {
        padding: 10px;
        border-right: 1px solid var(--primary);
      }
    }
    .image-side {
      position: relative;
      width: 100%;
      flex: 0 0 15%;
      max-width: 15%;
      .image-wrapper {
        img {
          width: 100%;
        }
      }
      @media (max-width: 568px) {
        flex: unset;
        align-items: center;
        justify-content: center;
        max-width: unset;
        width: 100%;
        text-align: center;
        img {
          border-radius: 100%;
          width: 40%;
          margin-bottom: 20px;
        }
      }

      img {
        border-radius: 100%;
        width: 40%;
        margin-bottom: 20px;
      }
    }

    .detail-side {
      position: relative;
      width: 100%;
      flex: 0 0 75%;
      max-width: 75%;
      @media (max-width: 568px) {
        flex: unset;
        max-width: unset;
      }
      .title-wrapper {
        padding: 0 15px;
        height: 5rem;
        display: flex;
        align-items: center;
        text-align: left;

        @media (max-width: 568px) {
          & {
            display: block;
            padding: 0;
            text-align: center;
            height: unset;
          }
        }
        .title {
          h2 {
            margin-bottom: 5px;
            &.role {
              font-size: 1.3em;
              margin-bottom: 5px;
            }
            &.duration {
              font-size: 1.1em;
            }
            &.company {
              color: var(--primary);
              font-size: 1em;
            }
            &.location {
              color: var(--light);
              font-size: 0.8em;
              margin-bottom: 5px;
            }
          }
        }

        @media (max-width: 568px) {
          .title {
            h2 {
              margin-bottom: 5px;
              &.role {
                font-size: 1.3em;
                margin-bottom: 5px;
              }
              &.duration {
                font-size: 1.1em;
              }
              &.company {
                color: var(--primary);
                font-size: 1em;
              }
              &.location {
                color: var(--light);
                font-size: 0.8em;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
      .task-wrapper {
        margin-top: 15px;
        padding: 0 30px;

        @media (max-width: 568px) {
          display: flex;
          justify-content: center;
          padding: 0;
          text-align: center;
          height: unset;
        }
        ul {
          line-height: 2em;
        }
      }
    }
    .link-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      &.one {
      }
      &.two {
        grid-template-columns: repeat(2, 1fr);
      }
      a {
        background: var(--primary);
        width: 100%;
        text-align: center;
        padding: 10px;
      }
    }
    .desc-wrapper {
      margin-bottom: 1em;
    }
    .stack-wrapper {
      display: block;
      height: 4.2em;
      padding-bottom: 10px;
      .stack {
        border: 1px solid var(--light);
        padding: 5px;
        margin: 2px;
        display: inline-flex;
        font-size: 0.8em;

        i {
          margin-top: 2px;
          margin-right: 5px;
        }
      }
    }
  }
  &-modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    .close-button {
      position: absolute;
      right: 0;
      font-size: 2em;
      background-color: transparent;
      color: var(--light);
      padding: 10px 15px;
    }
    .image-wrapper {
      position: relative;
      height: calc(100vh - 100px);
      width: calc(100% - 100px);
      left: 50px;
      top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
#education {
  padding: 100px 0;
  .heading {
    text-align: center;
  }

  @media (max-width: 568px) {
    .container {
      padding: 0;
    }
  }
}
.edu {
  &-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    display: grid;
    @media (max-width: 568px) {
      display: none;
    }
  }
  &-slider {
    display: none;
    @media (max-width: 568px) {
      display: block;
      float: left;
      width: 100%;
    }
  }
  &-item {
    padding: 10px;
    display: flex;
    // border-right: 1px solid var(--primary);

    @media (max-width: 568px) {
      & {
        padding: 10px;
        border-right: 1px solid var(--primary);
      }
    }
    .image-side {
      position: relative;
      width: 100%;
      flex: 0 0 15%;
      max-width: 15%;
      .image-wrapper {
        img {
          width: 100%;
        }
      }
      @media (max-width: 568px) {
        flex: unset;
        align-items: center;
        justify-content: center;
        max-width: unset;
        width: 100%;
        text-align: center;
        img {
          border-radius: 100%;
          width: 40%;
          margin-bottom: 20px;
        }
      }

      img {
        border-radius: 100%;
        width: 40%;
        margin-bottom: 20px;
      }
    }

    .detail-side {
      position: relative;
      width: 100%;
      flex: 0 0 75%;
      max-width: 75%;
      @media (max-width: 568px) {
        flex: unset;
        max-width: unset;
      }
      .title-wrapper {
        padding-left: 15px;
        height: 5rem;
        display: flex;
        align-items: center;
        text-align: left;

        @media (max-width: 568px) {
          & {
            display: block;
            padding: 0;
            text-align: center;
            height: unset;
          }
        }
        .title {
          h2 {
            margin-bottom: 5px;
            &.yearField {
              font-size: 1.1em;
              margin-bottom: 5px;
              span {
                color: var(--primary);
              }
            }
            &.institute {
              color: var(--primary);
              font-size: 1em;
            }
            &.company {
              color: var(--primary);
              font-size: 1em;
            }
            &.location {
              color: var(--light);
              font-size: 0.8em;
              margin-bottom: 5px;
            }
          }
        }

        @media (max-width: 568px) {
          .title {
            h2 {
              margin-bottom: 5px;
              &.yearField {
                font-size: 1.3em;
                margin-bottom: 5px;
              }
              &.institute {
                font-size: 1.1em;
              }

              &.location {
                color: var(--light);
                font-size: 0.8em;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}
#contact {
  padding: 150px 0;
  .section-header {
    text-align: center;
  }
  .text-content {
    margin-bottom: 50px;

    p {
      font-size: 1.25rem;
      color: var(--muted);
      line-height: 1.5;
    }
  }
  .social-icons {
    margin-top: 20px;
  }
  .contact-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &:last-child {
      // margin-bottom: 0;
    }
    .icon-wrapper {
      i {
        color: var(--primary);
        font-size: 2.5rem;
        margin-right: 20px;
      }
    }
    .details {
      .heading {
        font-size: 1.25rem;
        text-transform: uppercase;
        color: var(--muted);
      }
      & a,
      span {
        font-size: 1rem;
        color: var(--light);
        font-weight: var(--f-bold);
        transition: all 0.3s ease;
      }
      a:hover {
        opacity: 0.7;
      }
    }
  }
  @media (min-width: 768px) {
    & {
      padding: 265px 0;
      .inner-content {
        display: flex;
      }
      .text-content {
        padding-right: 50px;
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      .text-content {
        padding-right: 90px;
      }
      .contact-info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        .contact-block {
          display: block;
          text-align: center;
          .heading {
            padding: 10px 0;
          }
          span {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

footer {
  border-top: 3px solid var(--primary);
  padding: 25px 0;
  text-align: center;

  .left-content {
    margin-bottom: 10px;
    p {
      font-weight: var(--f-bold);
      font-size: 1.25rem;
    }
  }
  @media (min-width: 768px) {
    & {
      text-align: left;
      .left-content {
        margin-bottom: 0;
      }
      .inner-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
